:root {
    --fs-header: 2rem;
    --fs-listMain: 1.2rem;
    --fs-regular: 1rem;
    --fs-inside: 0.8rem;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: black;
}

#navbar {
    position: fixed;
    width: 280px;
    margin: 0 auto;
    top: 0;
    left: 0;
    background-color: whitesmoke;
    font-family: sans-serif;
    height: 100%;
    text-align: left;
}

#main-doc {
    position: absolute;
    top: 0;
    margin-left: 290px;
    /* padding: 10px; */
}

#navbar ul {
    padding-left: 40px;
}

#nav-header {
    text-align: center;
    margin-top: 20px;
    background-color: bisque;
    padding: 10px;
}

#navbar li {
    padding-top: 20px;
    list-style: none;
}

.nav-link {
    font-weight: bold;
    font-size: 1.2em;
}

.list-sub {
    font-size: 0.8em;
    color: gray;
    list-style: circle;
}

.page-header {
    text-align: center;
    font-size: 1.6em;
    font-family: sans-serif;
    background-color: antiquewhite;
    padding: 1rem;
}

.header-main {
    padding: 1rem;
    text-align: center;
    font-size: 1.4em;
    font-family: sans-serif;
    background-color: rgb(241, 218, 218);
}
.header-sub {
    text-align: center;
    font-size: 1.4rem;
    font-weight: 550;
    background-color: rgb(241, 191, 191);
}

section {
    margin-top: 100px;
}

article {
    font-family: Calibri;
}

p {
    padding: 0 0 0 1rem;
    font-size: 1rem;
}
.bold-p {
    font-weight: bold;
    padding: 3rem 0 0 0;
}

code {
    display: block;
    background-color: rgb(242, 242, 237);
    padding: 1rem 0.5rem;
    margin: 1rem 0 1rem 0;
    font-size: 0.2;
}
/* ------------- media Q start here ----------------- */

@media (max-width: 768px) {
    #navbar {
        width: 90px;
    }

    #main-doc {
        margin-left: 90px;
        margin-right: 2px;
    }

    #navbar ul {
        padding-left: 5px;
    }
    .nav-link {
        font-size: 0.7rem;
    }

    .list-sub {
        font-size: 0.5rem;
    }

    .page-header,
    .header-main {
        padding: 1rem 0;
        font-size: 1rem;
    }

    .bold-p {
        padding: 1.5rem 0 0 0.2rem;
    }

    p {
        font-size: 0.6rem;
    }

    li p {
        padding: 0;
    }
}
